<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
<div class="container">
    <div>
        <h1>Список Студентов</h1>
        <table class="table">
            <tr>
                <th>Имя</th>
                <th>Возраст</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.name}">...</td>
                <td th:text="${student.age}">...</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>